.App {
  background-color: #eae5bc;
  opacity: 90%;
  text-align: center;
  min-height: 100vh;
}

.Dictionary h1 {
  font-family: "Italiana", sans-serif;
  font-size: 40px;
}

.Dictionary h2 {
  font-family: "Italiana", sans-serif;
  font-size: 24px;
}
